@model IEnumerable<OrderManager.Entities.WorkShop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameWorkShop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wechat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkShop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>Xử lý</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameWorkShop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wechat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkShop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkShopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkShopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkShopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
